@page
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model RPInventarios.Pages.Departamentos.IndexModel

@{
    ViewData["Title"] = "Departamentos";
}

@await Html.PartialAsync("Acciones/_CrearBusqueda" , new CrearBusquedaViewModel
{
    TerminoBusqueda = Model.TerminoBusqueda,
    TituloCrear = "Crear Deartamento",
    TotalRegistros = Model.TotalRegistros
});

<table class="table table-hover table-bordered table-strip">
    <thead class=" bg-primary text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Departamentos[0].Nombre)
            </th>
            <th class="text-center"></th>
            <th>
                @Html.DisplayNameFor(model => model.Departamentos[0].Descripcion)
            </th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Departamentos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td class="text-center">
                <partial name="Acciones/_Crud" model="item.Id" />
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager(Model.Departamentos,page=>Url.Action("Index", new{
    Pagina= page,
    TerminoBusqueda=Model.TerminoBusqueda
}),
    new PagedListRenderOptions{
        LiElementClasses= new string[]{"page-item"},
        PageClasses = new string[]{"page-link"}
    }
)
