<button type="submit" class="btn btn-danger me-3">
    <i class="fa-solid fa-tras"></i>&nbsp;Eliminar
</button>
<a asp-page="./Index" class="btn btn-secondary">
    <i class="fa-solid da-circle-arrow-ledt"></i>&nbsp;Regresar
</a>