@page
@model IndexModel
@{
    ViewData["Title"] = "Pagina Principal GM";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDOS A MI PAGINA</h1>
    <p>Bienvenidos clientes</p>
</div>
